.container {
  display: flex;
  justify-content: center;
  /* border: 3px solid red; */
}
.box {
  border-radius: 30%;
  background-color: var(--panel-shade);
  margin-bottom: 0.07rem;
  color: var(--light-shade);
  padding: 1.5rem;
  box-shadow: 0px 4px 5px 2px var(--light-shade);
  user-select: none;
}

.box:hover {
  background-color: var(--panel-mid-shade);
  box-shadow: 0px 5px 6px 3px var(--light-shade);
}

.textBox {
  /* text-transform: uppercase; */
  font-size: 3em;
  text-align: center;
}

.categoryName {
  font-size: 2em;
}
/* css for responsive text, box, etc dimensions: */
@media only screen and (max-width: 499px) {
  /* .categoryName {
      font-size: 0.9rem;
    } */

  .textBox {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 500px) {
  /* .categoryName {
    font-size: 0.9rem;
  } */

  .textBox {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  /* .categoryName {
    font-size: 1.5rem;
  } */
  .box {
    padding: 2rem;
  }
  .textBox {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 996px) {
  /* .categoryName {
    font-size: 1.8rem;
  } */
  .box {
    padding: 2.5rem;
  }

  .textBox {
    font-size: 1.5rem;
  }
}
