.container {
  display: flex;
  justify-content: center;
}

.box {
  border: 1.3px solid rgba(98, 113, 255, 0.78);
  border-radius: 30%;
  background-color: rgb(196, 221, 243);
  margin-bottom: 0.07rem;
  color: rgba(89, 104, 247, 0.78);
  padding: 1.5rem;
  box-shadow: 0px 3px 5px 3px rgba(58, 74, 214, 0.78);
  user-select: none;
  transition: 0.5s ease;
}

.box:hover {
  border: 0.5px solid rgba(62, 161, 219, 1);
  color: white;
  background-color: rgb(112, 173, 235);
  box-shadow: 0px 4px 5px 3px rgba(62, 161, 219, 1);
  filter: saturate(150%);
}
.textBox {
  /* text-transform: uppercase; */
  font-size: 3em;
  text-align: center;
}

.categoryName {
  font-size: 2em;
}
/* css for responsive text, box, etc dimensions: */
@media only screen and (max-width: 499px) {
  /* .categoryName {
      font-size: 0.9rem;
    } */

  .textBox {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 500px) {
  /* .categoryName {
    font-size: 0.9rem;
  } */

  .textBox {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  /* .categoryName {
    font-size: 1.5rem;
  } */
  .box {
    padding: 2rem;
  }
  .textBox {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 996px) {
  /* .categoryName {
    font-size: 1.8rem;
  } */
  .box {
    padding: 2.5rem;
  }

  .textBox {
    font-size: 1.5rem;
  }
}
