/* :root {
  --background-shade: #bca0ff;
  --secondary-shade: rgba(227, 203, 255, 0.972);
  --panel-shade: #e2c3ff;
  --panel-mid-shade: #e6d6ff;
  --deep-shade: #7556ca;
  --mid-shade: #9b77f0;
  --light-shade: #847cfc;
} */

html,
body,
#root,
.App {
  width: 100vw;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
