.container {
  max-width: 1300px;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(227, 203, 255, 0.972);
}
.backLink {
  position: relative;
}
.link {
  color: rgb(229, 130, 238);
  font-size: 3em;
  font-weight: bolder;
  position: absolute;
  top: 0;
  left: 50px;
}

.character {
  font-size: 13vw;
  letter-spacing: 0.07em;
  padding: 0px;
  color: white;
  user-select: none;
  text-shadow: 0px 3px 5px#e295d8;
}

.characterStage {
  max-height: min-content;
  text-align: center;
  display: block;
  user-select: none;
  /* border: 1px solid blue; */
  border-radius: 30px;
}

.flashcard {
  /* box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.493); */
  box-shadow: 0px 3px 3px 2px rgb(231, 161, 231);
  border-radius: 33px;
  min-height: fit-content;
  width: 70%;
  font-size: 1.4rem;
  padding: 1.3rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: rgba(242, 211, 251, 0.972);
}

.responsesContainer {
  color: black;
  font-size: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 5px;
}

.answerButton {
  font-size: 2em;
  color: black;
  box-shadow: 0px 1px 3px 2px rgb(231, 161, 231);
  margin: 4px;
}
.answerButton:hover {
  color: black;
  box-shadow: 0px 3px 6px 3px rgb(229, 130, 238);
  background-color: rgba(243, 233, 255, 0.972);
}
.answerButton:focus {
  color: black;
  border: 2px solid violet;
  box-shadow: 0px 2px 4px 3px rgb(229, 130, 238);
}
.answerButton:disabled {
  color: black;
  opacity: 90%;
  margin: 4px;
}

.score {
  font-size: 0.2rem;
}
.correctMessage {
  background-color: rgb(243, 233, 255);
  box-shadow: 0px 3px 6px 3px rgb(177, 231, 161);
  border: 1px solid rgba(32, 32, 32, 0.938);
  color: black;
  font-size: 13vw;
  border-radius: 30px;
  padding: 5px;
  position: absolute;
  user-select: none;
  margin: auto;
  z-index: 1;
  display: block;
}

.incorrectMessage {
  background-color: rgb(243, 233, 255);
  box-shadow: 0px 3px 6px 3px rgb(230, 148, 148);
  border: 1px solid black;
  color: black;
  user-select: none;
  font-size: 10vw;
  border-radius: 30px;
  padding: 5px;
  position: absolute;
  margin: auto;
  z-index: 1;
}

.gameOver {
  background-color: rgb(243, 233, 255);
  box-shadow: 0px 3px 6px 3px violet;
  border: 1px solid black;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 10vw;
  border-radius: 30px;
  padding: 4px;
  position: absolute;
  margin: 0;
  z-index: 1;
}

.gameOngoing {
  display: none;
}

.startButton {
  color: black;
  border: "1px solid violet";
  margin: "10px";
  border-radius: "30px";
  font-size: "1.2em";
}

.startButtonOff {
  display: none;
}
