.page {
  height: 100vh;
  width: 100%;
  background-color: rgba(98, 113, 255, 0.78);
  background-image: linear-gradient(
    109.6deg,
    rgba(62, 161, 219, 1) 11.2%,
    rgba(93, 52, 236, 1) 100.2%
  );
}

.container {
  max-width: 1300px;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-attachment: fixed;
}
.backLink {
  position: relative;
}
.link {
  color: var(--deep-shade);
  text-shadow: 1px 1px 2px rgba(58, 71, 185, 0.78);
  font-size: 3em;
  font-weight: bolder;
  position: absolute;
  top: 0;
  left: 50px;
}

.character {
  font-size: 13vw;
  letter-spacing: 0.07em;
  padding: 0px;
  color: white;
  user-select: none;
  text-shadow: 2px 5px 5px var(--deep-shade);
}

.characterStage {
  max-height: min-content;
  text-align: center;
  display: block;
  user-select: none;
  /* border: 1px solid blue; */
  border-radius: 30px;
}

.flashcard {
  /* box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.493); */
  box-shadow: 0px 1px 5px 3px var(--deep-shade);
  border-radius: 25px;
  min-height: fit-content;
  width: 70%;
  font-size: 1.5rem;
  padding: 1.3rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: rgb(196, 221, 243);
  transition: 0.5s ease;
}

.responsesContainer {
  color: black;
  font-size: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 5px;
}

.answerButton {
  font-size: 2em;
  color: black;
  box-shadow: 0px 1px 3px 2px var(--deep-shade);
  margin: 4px;
  background-color: rgb(224, 227, 255);
  transition: 0.5s ease;
}
.answerButton:hover {
  color: black;
  box-shadow: 0px 3px 6px 3px var(--deep-shade);
  background-color: aliceblue;
}
.answerButton:focus {
  color: black;
  border: 2px solid var(--deep-shade);
  box-shadow: 0px 2px 4px 3px var(--deep-shade);
}
.answerButton:disabled {
  color: black;
  opacity: 90%;
  margin: 4px;
}

.score {
  font-size: 1.3rem;
}
.correctMessage {
  background-color: rgb(235, 237, 255);
  box-shadow: 0px 2px 7px 2px #51b9f5;
  border: 1px solid #44a7e0;
  color: black;
  font-size: 13vw;
  border-radius: 30px;
  padding: 5px;
  position: absolute;
  user-select: none;
  margin: auto;
  z-index: 1;
  display: block;
  filter: saturate(150%);
}

.incorrectMessage {
  background-color: rgb(235, 237, 255);
  box-shadow: 0px 3px 6px 3px rgb(230, 148, 148);
  border: 1px solid plum;
  color: black;
  user-select: none;
  font-size: 10vw;
  border-radius: 30px;
  padding: 5px;
  position: absolute;
  margin: auto;
  z-index: 1;
}

.gameOver {
  background-color: rgb(240, 247, 255);
  box-shadow: 0px 3px 6px 3px var(--deep-shade);
  border: 1px solid var(--deep-shade);
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 10vw;
  border-radius: 30px;
  padding: 4px;
  position: absolute;
  margin: 0;
  z-index: 1;
}

.gameOngoing {
  display: none;
}

.startButton {
  color: black;
  background-color: rgb(224, 227, 255);
  border: 1px solid var(--deep-shade);
  margin: 10px;
  border-radius: 30px;
  font-size: 1.2em;
}
.startButton:hover {
  background-color: rgb(187, 207, 235);
}
.startButtonOff {
  display: none;
}

.resultsOFF {
  display: none;
}

.results {
  font-weight: bold;
  background-color: rgb(192, 224, 252);
  color: black;
  border: 2px solid var(--mid-shade);
  border-radius: 8px;
  margin-top: 3px;
  padding: 4px 12px;
}

.results:hover {
  background-color: rgb(209, 227, 243);
  border: 2px solid var(--mid-shade);
}

@media only screen and (max-width: 768px) {
  .character {
    font-size: 3.1em;
    letter-spacing: 0.07em;
    padding: 0px;
    color: white;
    user-select: none;
    text-shadow: 0px 3px 5px var(--mid-shade);
  }

  .characterStage {
    max-height: min-content;
    text-align: center;
    display: block;
    user-select: none;
    /* border: 1px solid blue; */
    border-radius: 25px;
  }
  .answerButton {
    font-size: 2.2em;
  }
  .correctMessage {
    border-radius: 10px;
  }
  .incorrectMessage {
    border-radius: 10px;
  }
  .gameOver {
    border-radius: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .character {
    font-size: 5em;
    letter-spacing: 0.07em;
    padding: 0px;
    color: white;
    user-select: none;
    text-shadow: 0px 3px 5px var(--mid-shade);
  }

  .characterStage {
    max-height: min-content;
    text-align: center;
    display: block;
    user-select: none;
    /* border: 1px solid blue; */
    border-radius: 30px;
  }
}
@media only screen and (min-width: 1280px) {
  .character {
    font-size: 6em;
    letter-spacing: 0.07em;
    padding: 0px;
    color: white;
    user-select: none;
    text-shadow: 0px 6px 7px var(--deep-shade);
  }

  .characterStage {
    max-height: min-content;
    text-align: center;
    display: block;
    user-select: none;
    /* border: 1px solid blue; */
    border-radius: 30px;
  }

  .correctMessage {
    color: black;
    font-size: 8vw;
    border-radius: 30px;
    padding: 5px;
    position: absolute;
    user-select: none;
    margin: auto;
    z-index: 1;
    display: block;
  }

  .incorrectMessage {
    color: black;
    user-select: none;
    font-size: 8vw;
    border-radius: 30px;
    padding: 5px;
    position: absolute;
    margin: auto;
    z-index: 1;
  }

  .gameOver {
    color: black;
    display: flex;
    flex-direction: column;
    font-size: 8vw;
    border-radius: 30px;
    padding: 4px;
    position: absolute;
    margin: 0;
    z-index: 1;
  }
}
