.container {
  max-width: 1300px;
  height: 100%;
  margin: auto;
  padding: 30px;
  border: 3px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(227, 203, 255, 0.972);
}
.character {
  font-size: 13vw;
  letter-spacing: 0.07em;
}

.characterStage {
  max-height: min-content;
  text-align: center;
  display: inline;
  border: 1px solid blue;
  border-radius: 30px;
}

.flashcard {
  /* box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.493); */
  box-shadow: 0px 3px 3px 2px rgb(231, 161, 231);
  border-radius: 33px;
  min-height: 60vh;
  width: 70%;
  font-size: 1.4rem;
  padding: 1.3rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: rgba(242, 211, 251, 0.972);
}

.responsesContainer {
  font-size: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 5px;
}

.answerButton {
  font-size: 2em;
  color: black;
  box-shadow: 0px 1px 3px 3px rgb(231, 161, 231);
  margin: 4px;
}
.answerButton:hover {
  color: black;
  box-shadow: 0px 3px 4px 4px rgb(229, 130, 238);
  background-color: rgba(243, 233, 255, 0.972);
  margin: 6px;
}
.answerButton:focus {
  border: 2px solid violet;
  box-shadow: 0px 2px 3px 3px rgb(229, 130, 238);
}
.answerButton:disabled {
  opacity: 90%;
  margin: 4px;
}
