.container {
  padding: 50px;
  margin: auto;
  text-align: center;

  background-attachment: fixed;
}
.welcomeMessage {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.appName {
  font-size: 9vw;
  font-family: "MS PGothic";
  user-select: none;
  color: rgb(238, 247, 255);
  padding: 3px;
  text-shadow: 3px 5px 4px #1488cc;
}

.welcome {
  font-size: 7vw;
  font-family: "MS PGothic";
  user-select: none;
  padding: 3px;
  text-shadow: 5px 7px 4px #151b83;
}

/* font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka,
    "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; */

/* background: linear-gradient(to bottom, #2b32b2, #1488cc);
#1c1e57; */
