.container {
  /* height: 100vh; */
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  background-color: white;

  /* background-image: linear-gradient(
    109.6deg,
    rgba(39, 142, 255, 1) 11.2%,
    rgba(98, 113, 255, 0.78) 100.2%
  ); */
  background-image: linear-gradient(
    109.6deg,
    rgba(62, 161, 219, 1) 11.2%,
    rgba(93, 52, 236, 1) 100.2%
  );
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
}

.panel {
  max-width: 960px;
  margin: 0px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* border: 3px solid purple; */
}
.panel section {
  margin: 1.5rem;
  max-width: 230px;
  height: auto;
  flex: 0 0 380px;
  padding: 3px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  /* border: 3px solid blue; */
}
.userLogin {
  position: relative;
  padding: 10px;
}
