.loginArea {
  padding: 3em;
}

.login {
  font-family: "Kozuka Gothic Pro B";
  display: flex;
  margin: auto;
  flex-direction: column;
  color: aliceblue;
  font-size: 7vw;
  font-weight: bold;
  border: 2.5px solid rgb(84, 154, 216);
  border-radius: 2rem;
  box-shadow: 0px 2px 3px 1px #1c1e57;
  text-shadow: 2px 3px 5px #1c1e57;
  padding: 2px 35px;
  background: linear-gradient(to top, #2b32b2, #1488cc);
  transition: 0.5s ease;
}

.login:hover {
  background: linear-gradient(to bottom, #2b32b2, #1488cc);
  border: 2.5px solid rgb(84, 154, 216);
  box-shadow: 0px 3px 4px 1px #1c1e57;
  padding: 3px 36px;
  background-size: 200% auto;
  background-position: right center;
}
